h1 {
  color:blue;
}

Showcase {
font-family: 'Courier New', Courier, monospace;
color:blueviolet;
}

button {
  border: 20px 20px 20px 20px;
  border-color: black;
  border-width: 5px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  accent-color: green;
  padding-inline-start: 10%;
}

section-a {

}

media button {
  padding: 20px;
  color:blueviolet;
}

h3 {
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: aqua;
}