body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-shadow: 8px 8px 10px #0000008c;
  background-color: #343a40;
}

h1 {
  
  color:blue;
}

Showcase {
font-family: 'Courier New', Courier, monospace;
color:blueviolet;
}

button {
  border: 20px 20px 20px 20px;
  border-color: black;
  border-width: 5px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  accent-color: green;
  padding-inline-start: 10%;
}

bio {
color: blue;
font-size: large;
font-family: 'Courier New', Courier, monospace;
border-radius: 10 px;
}

media button {
  padding: 20px;
  color:blueviolet;
}

h3 {
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: aqua;
}


Extracode.css


:root {
    --font-color: rgb(111, 224, 121);
    --textbox-color: rgb(46, 45, 45);
    --highlight-color: rgb(219, 126, 49);
background-color: black;
}

body{



}

 .Header1 {
    
background-image: url(https://mediad.publicbroadcasting.net/p/kwmu/files/styles/x_large/public/201707/071217_CH_forestparkcuriouslouis_01.JPG);
background-size: cover;
background-position: left;
 color: var(--font-color);
padding-top: 200px;
padding-bottom: 300px;
padding-left: 20px;
 }

.Body1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-style: italic;
    border-style: solid;
    display: flex;
height: 80vh;
width: 60vh;
 }

.ContactMeSection{
    color: var(--font-color);
    border-style: solid;
    font-size: larger;
    background-color: var(--textbox-color);
    padding-left: 10px;
}

#MainFooter {
    Color: var(--highlight-color);
    padding-left: 20px;
}